/* style.css -- defines main style for mBlog, feel free to edit! */

nav {
  margin           : 10px auto 0px auto;
  padding          : 0px;
  float            : left;
  border           : 1px solid black;
  border-radius    : 7px;
  width            : 7%;
  text-align       : center;
}

nav ul {
  list-style       : none;
  padding          : 5px;
  margin           : 0px;
}

nav ul li a {
  text-decoration  : none;
  font-size        : 0.8em;
  color            : #000;
}

nav ul li a:hover {
  color            : #888;
}

article {
  background-color : #EEEEEE;
  padding          : 1px 5px 5px 5px;
  margin           : 10px auto 5px 0px;
  width            : 90%;
  float            : right;
}

article h1 {
  margin            : 0px -5px 3px -5px;
  padding           : 5px 10px 3px 6px;
  font-weight       : normal;
  font-size         : 22px;
  color             : #FFFFFF;
  background-color  : #333333;
}

header {
  font-size : 32px;
  margin    : 1px 0px 20px 0px;
}

html {
  margin    : 0px auto 0px auto;
  padding   : 5px 0px 0px 0px;
  width     : 80%;
}
